<h1>Welcome to IRIS predictions</h1>
<h2>Please enter your flower measurements below:</h2>
<form  method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.sep_len.label }} {{form.sep_len}}
    <br>
    {{ form.sep_wid.label}} {{form.sep_wid}}
    <br>
    {{form.pet_len.label}}{{form.pet_len}}
    <br>
    {{form.pet_wid.label}}{{form.pet_wid}}
    <br>
    {{ form.submit() }}
</form>
<h3>Just for information</h3>
<p>For setosa: SL-5.1 SW-3 PL-1.4 PW-0.2  </p>
<p>For versicolor: SL-6.4 SW-3.5 PL-4.5 PW-1.2  </p>
<p>For virginicia: SL-5.9 SW-3.0 PL-5.0 PW-1.8  </p>
<footer>Made by Poojan Shah</footer>

